.btn {
    padding: @spacing_1x @spacing_2x;
    font-size: @base-font-size;
    border: 0;
    border-radius: 3px;
}

.btn:hover {
    cursor: pointer;
}

.btn-remove {
    background-color: @primary-red;
    color: #ffffff;
}

.btn-success,
.btn-add {
    background-color: @primary-green;
    color: #ffffff;
}

.btn-group {
    padding: @spacing_1x 0;
}
